.env
.env.*
!.env.example
.git
.gitignore
.idea
.vscode
.venv
venv
**/__pycache__
**/*.pyc
.ruff_cache
.pytest_cache
media
staticfiles
db.sqlite3
*.log
Dockerfile
compose*.yml
docker-compose*.yml
.dockerignore
conf
=
link[code]
